body {
    background-color: #D2DCE0;
}

h1 {
    color: black;
    text-align: center;
}

header {
    background-color: rgb(241, 56, 56);
   
    
    padding : 2em;
    text-align: left;
    height: 20px;
    
 }


